.card{
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    background-image: url(fondo.jfif);
    background-position: center;
    background-size: cover; 
}
.card-title{
    color: aliceblue;
    font-family: "DynaPuff", system-ui;
}
.card-text{
    color: aliceblue;
    font-family: "Nunito", sans-serif;
}
#fondo{
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 20px;
}